.home__container{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

}

.carousel__img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.main__container{
  max-width: 144rem;
  margin-inline: auto;
  padding-inline: 7rem;
  
  @media screen and (max-width: 1024px) {
    padding-inline: 4rem;
  }
  
  @media screen and (max-width: 480px) {
    padding-inline: 2rem;
  }
}

.top__sales__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
  gap: 3rem;
  margin: 5rem 0;
}

.protocole__section{
  background-color: #a5baa9;
  padding: 5rem 7rem;
  margin: 5rem calc(-50vw + 50%);
  display: grid;
  gap: 3rem;
  width: 100vw;
  max-width: 100vw;
}
.protocole__section__head{
  max-width: 80rem;
  margin-inline: auto;
}
.protocole__section__title{
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  
  @media screen and (max-width: 480px) {
    font-size: 2.6rem;
  }
  
  & ~ p{
    color: white;
    font-size: 1.6rem;

    @media screen and (max-width: 480px) {
      font-size: 1.4rem;
      letter-spacing: 1px;
    }
  }
}
.protocole__section__visual{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:  3rem 10rem;
  flex-wrap: wrap;
  margin-inline: auto;
  
  @media screen and (max-width: 1200px) {
    column-gap: 2rem;
  }
}
.protocole__type{
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover .protocole__img{
    transform: scale(1.2);
  }
}
.protocole__img{
  max-width: 28em;
  transition: all ease-out 700ms;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
.protocole__type__details{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /.3);
  color: white;


}
.protocole__type__title{
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (max-width: 480px){
    font-size: 2rem;
  }
}
.protocole__type__sub_title{
  text-transform: uppercase;
  font-weight: 700;
  @media screen and (max-width: 480px){
    font-size: 1.4rem;
  }
}

.collection__section{
  display: grid;
  gap: 2rem;
  padding-block: 5rem;
}
.collection__head{
  display: flex;
  align-items: center;
  gap: 1rem;

  & h1{
    font-family: 'Playfair Display';
    text-transform: uppercase;
    font-weight: 700;
    
    @media  screen and (max-width: 480px) {
      font-size: 2rem;
    }
  }
}
.collection__icon{
  width: 2.5rem;
  padding: 1.5rem;
  box-sizing: content-box;
  background-color: #4B614A;
  color: white;

  @media  screen and (max-width: 480px) {
    width: 2rem;
    padding: 1rem;
  }
}
.new__product__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
  gap: 3rem;
}
.new_product__container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.extrat__section{
  display: grid;
  gap: 3rem;
  padding-block: 5rem;

  & > div{
    position: relative;
    height: 16rem;
    min-width: 100vw;
    margin-left: calc(-50vw + 50%);

    & > p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "Playfair Display";
      font-size: 7.3rem;
      letter-spacing: .1em;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      font-weight: 400;

      @media screen and (max-width: 1024px) {
        font-size: 5.7rem ;
      }

      @media screen and (max-width: 480px) {
        font-size: 3.6rem;
      }

    }

    & > img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.testimonial__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 5rem;
  gap: 3rem;
}
