@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body,#root{
  width: 100%;
  height: 100vh;
}

body{
  font-size: 1.6rem;
}